<div class="card shadow mb-4">
    <div class="card-header">
        <h3 class="card-title text-center mb-0"><i class="fa fa-telegram me-2"></i> Наши Telegram-каналы и бот</h3>
    </div>
    <div class="card-body">
         <div class="d-flex flex-wrap justify-content-center">
            <div class="mb-3">
               <h5 class="mb-2"><i class="fa fa-telegram me-2"></i> Наш Telegram Bot</h5>
               <a href="https://t.me/xDomvpn_Bot" class="btn btn-outline-primary btn-block">
                   <i class="fa fa-key me-2"></i> Ключи (DomVPN Bot)
               </a>
            </div>
           <div class="mb-3 ms-md-3">
              <h5 class="mb-2"><i class="fa fa-support me-2"></i> Поддержка</h5>
                <a href="https://t.me/domvpnsupport" class="btn btn-outline-info btn-block">
                    <i class="fa fa-edit me-2"></i> DomVPN Support
                </a>
            </div>
           <div class="mb-3 ms-md-3">
               <h5 class="mb-2"><i class="fa fa-newspaper-o me-2"></i> Новости</h5>
                <a href="https://t.me/domvpn_news" class="btn btn-outline-secondary btn-block">
                 <i class="fa fa-telegram me-2"></i> DomVPN News
                 </a>
             </div>
         </div>
    </div>
</div>

