<div class="col-md-4 ">
    <h5>Наш Telegram Bot</h5>
    <a class="bg-success-subtle rounded p-1 m-2" href="https://t.me/xDomvpn_Bot"><i class="fa fa-telegram"></i> Ключи Outline (DomVPN Bot)</a>
    <h5 class="mt-3"><i class="fa fa-support"></i> Поддержка</h5>
    <a class="bg-success-subtle rounded p-1 m-2" href="https://t.me/domvpnsupport"><i class="fa fa-telegram"></i> DomVPN Support</a>
    <h5 class="mt-3"><i class="fa fa-newspaper-o"></i> Новости</h5>
    <a class="bg-success-subtle rounded p-1 m-2" href="https://t.me/domvpn_news"><i class="fa fa-telegram"></i> DomVPN News</a>
</div>