<!-- Навигационная панель -->
    <div class="row p-2 mb-2 rounded">
        <div class="col-3">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/47/0c/15/470c15a2-f542-5813-4d09-2a7f2a3e4818/AppIcon-0-0-1x_U007emarketing-0-8-0-85-220.png/200x200ib-75.webp"
                 alt="outline app" width="80"/>
        </div>
        <div class="col-9">
            <h4 class="mb-5">Ссылки для скачивания приложения Outline</h4>
        </div>

    </div>

    <ul class="nav flex-column">
        <!-- Кнопки для скачивания -->
        <li class="nav-item">
            <a class="btn btn-success w-100 mb-2" href="https://apps.apple.com/app/outline-app/id1356177741"
               role="button" target="_blank">
                <i class="fa fa-download"></i> Скачать на Iphone
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a class="btn btn-success w-100 mb-2"
               href="https://play.google.com/store/apps/details?id=org.outline.android.client" role="button"
               target="_blank">
                <i class="fa fa-download"></i> Скачать на Android
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a class="btn btn-success w-100 mb-2" href="https://github.com/agolyud/VPN_Outline_TV/releases/"
               role="button" target="_blank">
                <i class="fa fa-download"></i> Скачать на Android TV
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a class="btn btn-success w-100 mb-2"
               href="https://apps.apple.com/us/app/outline-secure-internet-access/id1356178125?mt=12" role="button"
               target="_blank">
                <i class="fa fa-download"></i> Скачать на MacOS
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a class="btn btn-success w-100 mb-2"
               href="https://s3.amazonaws.com/outline-releases/client/windows/stable/Outline-Client.exe" role="button"
               target="_blank">
                <i class="fa fa-download"></i> Скачать на Windows
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a class="btn btn-success w-100 mb-2"
               href="https://s3.amazonaws.com/outline-releases/client/linux/stable/Outline-Client.AppImage"
               role="button" target="_blank">
                <i class="fa fa-download"></i> Скачать на Linux
            </a>
        </li>
    </ul>

<br>
<br>
<br>
<div class="row p-2 mb-2 rounded">
        <div class="col-3">
            <img src="https://play-lh.googleusercontent.com/AQLJ_xKB1RKWtz-Tgrck1coak3wIQIkQgt5bJddb1Srt-bkSSxQlgKT6m3HGYGzrpzc=w240-h480-rw"
                 alt="outline app" width="80"/>
        </div>
        <div class="col-9">
            <h4 class="mb-5">Ссылки для скачивания приложения Vless</h4>
        </div>

    </div>

    <ul class="nav flex-column">
        <!-- Кнопки для скачивания -->
        <li class="nav-item">
            <a class="btn btn-dark w-100 mb-2" href="https://apps.apple.com/ru/app/v2box-v2ray-client/id6446814690"
               role="button" target="_blank">
                <i class="fa fa-download"></i> Скачать на Iphone
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a class="btn btn-dark w-100 mb-2"
               href="https://play.google.com/store/apps/details?id=dev.hexasoftware.v2box&hl=ru&pli=1" role="button"
               target="_blank">
                <i class="fa fa-download"></i> Скачать на Android
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a class="btn btn-dark w-100 mb-2" href="https://play.google.com/store/apps/details?id=com.v2raytun.android&hl=ru&pli=1"
               role="button" target="_blank">
                <i class="fa fa-download"></i> Скачать на Android TV
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a class="btn btn-dark w-100 mb-2"
               href="https://apps.apple.com/pl/app/v2raytun/id6476628951" role="button"
               target="_blank">
                <i class="fa fa-download"></i> Скачать на MacOS
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a class="btn btn-dark w-100 mb-2"
               href="https://github.com/InvisibleManVPN/InvisibleMan-XRayClient/releases" role="button"
               target="_blank">
                <i class="fa fa-download"></i> Скачать на Windows
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a class="btn btn-dark w-100 mb-2"
               href="https://snapcraft.io/v4freedom"
               role="button" target="_blank">
                <i class="fa fa-download"></i> Скачать на Linux
            </a>
        </li>
    </ul>

