<img src="{% if request.user.profile.telegram_user.photo_url %}{{ request.user.profile.telegram_user.photo_url }}
              {% else %}https://bootdey.com/img/Content/avatar/avatar7.png
              {% endif %}"
     alt="User Avatar" class="img-fluid rounded-circle mb-3" style="width: 100px; height: 100px;">
<p>
    <i class="fa fa-user"></i>
    {% if request.user.profile.telegram_user.first_name %}
        {{ request.user.profile.telegram_user.first_name }}<br>
    {% endif %}
    {% if request.user.profile.telegram_user.last_name %}
        {{ request.user.profile.telegram_user.last_name }}<br>
    {% endif %}
    <i class="fa fa-id-badge"></i> ID: {{ request.user.profile.telegram_user.user_id }}<br>
    {% if request.user.profile.telegram_user.username %}
        <i class="fa fa-id-card"></i>
        {% if '@' in request.user.profile.telegram_user.username %}
            <a href="">{{ request.user.profile.telegram_user.username }}</a><br>
        {% else %}
            <a href="https://t.me/{{ request.user.profile.telegram_user.username }}" target="_blank">
                @{{ request.user.profile.telegram_user.username }}</a><br>
        {% endif %}
    {% endif %}
    {% if request.user.email %}
        <a href="{% url 'password_change' %}" class="btn btn-outline-secondary">Изменить пароль</a><br>
    {% endif %}
</p>
<hr>
<div>
    <p><strong>Активен с :</strong> <span class="">{{ request.user.profile.telegram_user.join_date }}</span></p>
    <p><strong>Подписка до:</strong> {{ request.user.profile.telegram_user.subscription_expiration }}
        {% if request.user.profile.telegram_user.subscription_status %}
            <span class="badge bg-success">Активна</span>
        {% else %}
            <span class="badge bg-warning">Неактивна</span>
        {% endif %}
    </p>
    <p><strong>Доход от реферальной программы:</strong> <span
            class="badge bg-secondary">{% if request.user.profile.telegram_user.income %}
        {{ request.user.profile.telegram_user.income }}{% else %}0.00{% endif %} ₽</span></p>
    {% if request.user.profile.telegram_user.payment_method_id %}
        <p><strong>Платёжный метод подтверждён: <i class="fa fa-check bg-light rounded text-success p-1"></i></strong>
        </p>
        <p>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                    data-target="#cancelSubscriptionModal">
                Отказаться от подписки
            </button>
        </p>

        <!-- Modal -->
        <div class="modal fade" id="cancelSubscriptionModal" tabindex="-1" role="dialog"
             aria-labelledby="cancelSubscriptionModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelSubscriptionModalLabel">Подтверждение отмены подписки</h5>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены, что хотите отказаться от подписки? Это действие необратимо.
                            Отменив имеющуюся подписку вы можете продолжать пользоваться сервисом до момента окончания
                            оплаченной подписки. Автоматическое списание средств при отказе от подписки не производится.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Отмена</button>
                        <a class="btn btn-danger btn-sm"
                           href="{% url 'cancel_subscription' request.user.profile.telegram_user.user_id %}">Подтвердить
                            отмену</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
