{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Пароль успешно изменен{% endblock title %}
{% block content %}
    <div class="hero_area">
        <div class="hero_bg_box">
            <div class="bg_img_box">
                <img src="{% static 'images/hero-bg.png' %}" alt="">
            </div>
        </div>
        {% include 'home/sections/header.html' %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-header">
                            <h2 class="text-center">Пароль успешно изменен</h2>
                        </div>
                        <div class="card-body">
                            <p>Ваш пароль успешно изменен.</p>
                            <a href="{% url 'home' %}" class="btn btn-primary">Перейти на главную страницу</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

