{% load static %}
<!-- client section -->
<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                Отзывы <span>Клиентов</span>
            </h2>
        </div>
        <div class="carousel-wrap ">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/client1.jpg' %}" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        TechSavvy
                                    </h6>
                                    <p>
                                        Безопасность превыше всего!
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Dom VPN - это то, что мне нужно! Быстрое и стабильное соединение, а главное - полная
                                анонимность в сети. Очень доволен!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/client2.jpg' %}" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        GamerPro
                                    </h6>
                                    <p>
                                        Играю без лагов!
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Для онлайн игр Dom VPN - просто находка! Пинг минимальный, никаких зависаний, могу
                                играть где угодно. Спасибо разработчикам!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/client3.jpg' %}" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        TravelerGirl
                                    </h6>
                                    <p>
                                        Свобода доступа в любой точке мира!
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Я много путешествую и Dom VPN всегда меня выручает. Доступ к любимым сайтам и
                                приложениям из любой страны, это очень удобно!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/client4.jpg' %}" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        PrivacyLover
                                    </h6>
                                    <p>
                                        Моя конфиденциальность под защитой!
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Для меня важна конфиденциальность в сети. Dom VPN отлично справляется с этой задачей.
                                Чувствую себя намного безопаснее онлайн.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/client5.jpg' %}" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        SimpleUser
                                    </h6>
                                    <p>
                                        Просто и понятно!
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Установка и настройка Dom VPN заняли всего несколько минут. Очень простой и понятный
                                интерфейс, всем рекомендую!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/client6.jpg' %}" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        MovieBuff
                                    </h6>
                                    <p>
                                        Смотрю фильмы без ограничений!
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Благодаря Dom VPN у меня есть доступ к контенту, который недоступен в моем регионе.
                                Теперь могу смотреть любимые фильмы и сериалы без ограничений.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/client7.jpg' %}" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        FreelancerLife
                                    </h6>
                                    <p>
                                        Надежное соединение для работы!
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Как фрилансеру, мне нужно надежное и безопасное соединение. Dom VPN всегда меня
                                выручает, когда я работаю удаленно.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/client8.jpg' %}" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        StudentOnline
                                    </h6>
                                    <p>
                                        Учеба без блокировок!
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Dom VPN помогает мне получать доступ к учебным материалам, которые иногда бывают
                                заблокированы. Теперь учеба онлайн стала проще!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/client9.jpg' %}" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        HappyUser
                                    </h6>
                                    <p>
                                        Очень доволен!
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Перепробовал несколько VPN-сервисов, но Dom VPN - лучший! Быстро, надежно и удобно. Я
                                очень доволен!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/client10.jpg' %}" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        SupportFan
                                    </h6>
                                    <p>
                                        Отличная поддержка!
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Когда у меня возник вопрос, служба поддержки Dom VPN ответила очень быстро и помогла
                                решить проблему. Отличное обслуживание!
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- end client section -->