<div class="container">
    <h1 class=" m-5">Свяжитесь с нами</h1>
    <div class="row">
        <div class="col-md-6 mb-5">
            <h4 class="mb-5">Наши контакты:</h4>
            <h5><strong>Адрес:</strong> г. Москва ул. Ленина д.55</h5>
            <h5><strong>Телефон:</strong> +7 9122381232</h5>
            <h5><strong>Email:</strong> <a href="mailto:ex@mail.com">ex@mail.com</a></h5>
            <h5><strong>Режим работы:</strong> Круглосуточная поддержка</h5>
        </div>
        <div class="col-md-6 mb-5">
            <h4 class="mb-5">Социальные сети:</h4>
            <h5><strong>Telegram:</strong> <a href=""> <i class="fa fa-telegram"></i></a></h5>
            <h5><strong>Whatsapp:</strong> <a href=""> <i class="fa fa-whatsapp"></i></a></h5>
        </div>
    </div>
</div>