{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Контакты{% endblock title %}
{% block content %}
    {% include 'home/sections/header.html' %}

    <div style="margin-top: 8rem;"></div>
    <div class="container ">
        <div class="col-sm-12 col-lg-8 shadow bg-light rounded p-1">
            {% include 'dashboard/includes/sidepanel.html' %}
        </div>
    </div>
    {% include 'home/sections/about.html' %}
    {% include 'home/sections/info.html' %}
    {% include 'home/sections/footer.html' %}
{% endblock content %}