{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"ru-ru" }}">

<head>
    <title>
        DomVPN {% block title %}{% endblock %}
    </title>
    <link rel="canonical" href="https://my21812140site.ru{{ request.path }}">


    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="">

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

    <!-- font awesome style -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet"/>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link href="{% static 'css/fonts-googleapis.css' %}" rel="stylesheet"/>

    {% block extrahead %}{% endblock extrahead %}
    {% block extrastyle %}{% endblock extrastyle %}
</head>
<body>
{% block content %}{% endblock content %}
{% include 'includes/scripts.html' %}

{% block extrascript %}{% endblock extrascript %}

</body>
</html>