<footer class="bg-secondary-subtle text-dark py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Компания</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">О нас</a></li>
                    <li><a href="#" class="text-dark">Контакты</a></li>
                    <li><a href="#" class="text-dark">Оферта</a></li>
                    <li><a href="#" class="text-dark">Политика конфиденциальности</a></li>
                    <li><a href="#" class="text-dark">Связаться с администратором</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt-fill"></i> Адрес: Москва, ул. Ленина, 10</li>
                    <li><i class="bi bi-envelope-fill"></i> Email: info@example.com</li>
                    <li><i class="bi bi-telephone-fill"></i> Телефон: +7 (495) 123-45-67</li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <span class="text-muted">&copy; 2024 MY Компания</span>
            </div>
        </div>
    </div>
</footer>
