{% if error %}
    <div class="container">
        <div class="col-sm-12 col-8">
            {% for error in error %}
                <div class="alert alert-danger alert-dismissible text-white" role="alert">
                    {{ error|safe }}
                    <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}