{% if messages %}
        <div style="margin-top: 8rem;"></div>

    <div class="container">
        <div class="col-sm-12 col-8">
            {% for message in messages %}
                <div class="mt-5 alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %} alert-dismissible text-dark" role="alert">
                    {{ message|safe }}
                    <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert"
                            aria-label="Close">
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

