{% load static %}
<div id="about" class="about_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                О <span>Нас</span>
            </h2>
            <p>
                Мы предлагаем молниеносную скорость и безграничный доступ к контенту. DomVPN — ваш проводник в мир
                свободного и быстрого интернета.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="{% static 'images/about-vpn.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h3>
                        Откройте Мир Возможностей с DomVPN
                    </h3>
                    <p>
                        DomVPN – это не просто VPN, это ваш ключ к быстрому и бесперебойному интернету. Наши серверы
                        оптимизированы для максимальной скорости, позволяя вам наслаждаться играми, потоковым видео и
                        загрузкой файлов без задержек. Мы стремимся сделать ваш онлайн-опыт максимально комфортным.
                    </p>
                    <p>
                        С DomVPN вы можете забыть о географических ограничениях и получить доступ к контенту из любой
                        точки мира. Мы обеспечиваем стабильное соединение, надежную защиту и простоту использования.
                        Присоединяйтесь к нам и наслаждайтесь свободой в интернете.
                    </p>
                    <h5> Чтобы присоединиться к нам, войдите с помощью Telegram</h5>
                    <a href="#telegram-login-link"> Войти </a>
                </div>
            </div>
        </div>
    </div>
</div>

