<div class="container">
    <h1 class=" m-5">Свяжитесь с нами</h1>
    <div class="row">
        <div class="col-md-6 mb-5">
            <h4 class="mb-5">Наши контакты:</h4>
            <h5><strong>Телефон:</strong> <a href="tel:+79937581900">+7 (993) 758-19-00</a></h5>
            <h5><strong>ИНН:</strong> 695004989740</h5>
            <h5><strong>Email:</strong> <a href="mailto:dom-vpn@yandex.ru">dom-vpn@yandex.ru</a></h5>
            <h5><strong>Режим работы:</strong> Круглосуточная поддержка</h5>
            <h5><strong>Владелец проекта:</strong> Жохов Денис Александрович</h5>
            <h5><strong>Разработчик:</strong> Горячев Иван Сергеевич</h5>
        </div>
        <div class="col-md-6 mb-5">
            <h4 class="mb-5">Социальные сети:</h4>
            <h5><strong>Telegram:</strong> <a href="https://t.me/semen_1040"   target="_blank"><i class="fa fa-telegram"></i></a></h5>
            <h5><strong>Whatsapp:</strong> <a href="https://wa.me/79937581900" target="_blank"><i class="fa fa-whatsapp"></i></a></h5>
        </div>
    </div>
</div>