<header class="header_section fixed-top" style="background-color: #0f054c">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'home' %}">
                <span>DomVPN</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ">
                    {% if request.path != '/' %}
                        <li class="nav-item {% if 'home' in request.path %}active{% endif %}">
                            <a class="nav-link" href="{% url 'home' %}">Главная</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="https://t.me/domvpn_news" target="_blank"> Новости </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://t.me/xDomvpn_Bot" target="_blank"> Телеграм
                            бот </a>
                    </li>
                    <li class="nav-item {% if 'outline_links' in request.path %}active{% endif %}">
                        <a class="nav-link" href="{% url 'outline_links' %}"> Ссылки VPN </a>
                    </li>
                    <li class="nav-item {% if 'about' in request.path %}active{% endif %}">
                        <a class="nav-link" href="{% url 'about' %}"> О нас </a>
                    </li>
                    <li class="nav-item {% if 'contacts' in request.path %}active{% endif %}">
                        <a class="nav-link" href="{% url 'contacts' %}"> Контакты </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#price"> Цены </a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item {% if 'profile' in request.path %}active{% endif %}">
                            <a class="nav-link" href="{% url 'profile' %}">Личный кабинет</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button class="nav-link" type="submit">Выйти</button>
                            </form>
                        </li>
                    {% endif %}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link" href="/admin"> <i class="fa fa-user" aria-hidden="true"></i> Login</a>#}
                    {#                    </li>#}
                </ul>
            </div>
        </nav>
    </div>
</header>
