<br><br><br><br>
<div class="container">
    <h2 class="text-center">Договор публичной оферты на оказание услуг по генерации ключей в сервисе DomVPN с
        использованием автоматических периодических платежей (Автоплатежей)</h2>

    <h4 class="mt-5">1. Общие положения</h4>
    <p>1.1. Настоящий документ является публичной офертой (предложением) "DomVPN" (далее — "Исполнитель") заключить
        договор об оказании услуг по генерации ключей (далее — "Услуги") на условиях, изложенных ниже, с любым
        физическим или юридическим лицом (далее — "Заказчик"), акцептовавшим (принявшим) данную оферту.</p>
    <p>1.2. Полным и безоговорочным акцептом (принятием) настоящей оферты является совершение Заказчиком действий по
        оплате выбранного пакета Услуг на сайте domvpn.store, включая активацию автоматических периодических платежей
        (далее – «Автоплатежи»). С момента акцепта Заказчиком настоящей оферты договор об оказании Услуг считается
        заключенным.</p>
    <p>1.3. Исполнитель оставляет за собой право вносить изменения в условия настоящей оферты, о чем Заказчик
        уведомляется путем публикации новой редакции на сайте domvpn.store. Изменения вступают в силу с момента их
        публикации.</p>

    <h4 class="mt-4">2. Предмет договора</h4>
    <p>2.1. Исполнитель обязуется оказывать Заказчику Услуги по генерации ключей для доступа к сервису DomVPN, в
        соответствии с выбранным Заказчиком тарифным планом, в том числе с использованием автоматических периодических
        платежей (Автоплатежей), при их активации Заказчиком.</p>
    <p>2.2. Услуги предоставляются в электронном виде путем предоставления Заказчику сгенерированных ключей через
        интерфейс сайта или Telegram бота.</p>
    <p>2.3. Исполнитель не несет ответственности за работоспособность сервиса DomVPN, если Заказчик использует ключи,
        полученные не от Исполнителя или использует их не по назначению.</p>

    <h4 class="mt-4">3. Права и обязанности сторон</h4>
    <h5 class="mt-2">3.1. Исполнитель обязуется:</h5>
    <ul>
        <li>3.1.1. Обеспечить генерацию ключей в соответствии с выбранным Заказчиком тарифным планом и предоставление их
            Заказчику в разумные сроки после оплаты, включая автоматическое продление доступа через Автоплатежи.
        </li>
        <li>3.1.2. Предоставлять техническую поддержку по вопросам, связанным с генерацией ключей и их использованием, а
            также по вопросам работы Автоплатежей.
        </li>

        <li>3.1.3. Обеспечивать конфиденциальность персональных данных Заказчика в соответствии с политикой
            конфиденциальности, размещенной на сайте domvpn.store.
        </li>
        <li>3.1.4. Уведомлять Заказчика о предстоящем автоматическом списании денежных средств в рамках Автоплатежей не
            менее чем за 24 часа до списания. Уведомление может быть отправлено по электронной
            почте или через Telegram бота.
        </li>
    </ul>

    <h5 class="mt-2">3.2. Заказчик обязуется:</h5>
    <ul>
        <li>3.2.1. Оплатить Услуги Исполнителя в соответствии с выбранным тарифным планом, включая автоматические
            списания в рамках Автоплатежей, при их активации.
        </li>
        <li>3.2.2. Использовать сгенерированные ключи в соответствии с их назначением и не передавать их третьим
            лицам.
        </li>
        <li>3.2.3. Соблюдать все условия использования сервиса DomVPN, размещенные на сайте domvpn.store.</li>
        <li>3.2.4. Предоставлять достоверную информацию при регистрации и оплате Услуг, включая данные платежной
            карты.
        </li>
        <li>3.2.5. Обеспечить наличие достаточного количества денежных средств на карте, привязанной к Автоплатежам, для
            своевременного списания.
        </li>
        <li>3.2.6. Своевременно уведомлять Исполнителя об изменении данных платежной карты, используемой для
            Автоплатежей.
        </li>
    </ul>

    <h5 class="mt-2">3.3. Исполнитель имеет право:</h5>
    <ul>
        <li>3.3.1. Приостановить или прекратить оказание Услуг в случае нарушения Заказчиком условий настоящего
            договора, включая неоплату Услуг или нарушение правил использования сервиса DomVPN.
        </li>
        <li>3.3.2. Вносить изменения в тарифные планы и условия оказания Услуг, предварительно уведомив Заказчика.</li>
        <li>3.3.3. Отказать в оказании Услуг без объяснения причин.</li>
        <li>3.3.4. Приостановить действие Автоплатежей в случае технических сбоев или проведения профилактических
            работ.
        </li>
    </ul>

    <h5 class="mt-2">3.4. Заказчик имеет право:</h5>
    <ul>
        <li>3.4.1. Получать Услуги в соответствии с выбранным тарифным планом, включая автоматическое продление доступа
            через Автоплатежи, при их активации.
        </li>
        <li>3.4.2. Обращаться в техническую поддержку по вопросам, связанным с оказанием Услуг, а также по вопросам
            работы Автоплатежей.
        </li>

        <li>3.4.3. В любое время отключить Автоплатежи.</li>
    </ul>

    <h4 class="mt-4">4. Стоимость Услуг и порядок оплаты</h4>
    <p>4.1. Стоимость Услуг определяется в соответствии с тарифными планами, размещенными на сайте domvpn.store.</p>
    <p>4.2. Оплата Услуг производится Заказчиком в порядке предоплаты, в том числе с использованием автоматических
        списаний в рамках Автоплатежей.</p>
    <p>4.3. Оплата может производиться через платежные системы, указанные на сайте domvpn.store. Автоплатежи
        осуществляются через платежную систему Yookassa.</p>
    <p>4.4. В случае отказа Заказчика от Услуг после оплаты, возврат средств не производится, за исключением случаев,
        предусмотренных законодательством.</p>

    <h4 class="mt-4">5. Условия использования Автоплатежей</h4>
    <p>5.1. Активация Автоплатежей означает согласие Заказчика на автоматическое списание денежных средств с его
        банковской карты в пользу Исполнителя в соответствии с выбранным тарифным планом и установленным периодом.</p>
    <p>5.2. Периодичность списания денежных средств определяется в соответствии с выбранным тарифным планом (например,
        ежемесячно, ежегодно).</p>
    <p>5.3. Заказчик может управлять Автоплатежами (просматривать информацию о подписке, изменять тарифный план,
        отключать Автоплатежи) через личный кабинет на сайте и через Telegram бота.</p>
    <p>5.4. Отключение Автоплатежей производится через личный кабинет на сайте или в раздеде профиль Telegram бота
        нажав кнопку "Отказаться от подписки". После отключения Автоплатежей автоматические списания денежных средств
        прекращаются.</p>
    <p>5.5. Исполнитель не несет ответственности за сбои в работе платежной системы Yookassa, которые могут привести к
        несвоевременному списанию денежных средств или невозможности осуществления Автоплатежей.</p>

    <h4 class="mt-4">6. Ответственность сторон</h4>
    <p>6.1. Стороны несут ответственность за неисполнение или ненадлежащее исполнение своих обязательств по настоящему
        договору в соответствии с законодательством Российской Федерации.</p>
    <p>6.2. Исполнитель не несет ответственности за прямые или косвенные убытки, возникшие у Заказчика в результате
        использования сервиса DomVPN, за исключением случаев, когда убытки возникли по вине Исполнителя.</p>
    <p>6.3. Ответственность Исполнителя в любом случае ограничивается суммой, уплаченной Заказчиком за Услуги.</p>

    <h4 class="mt-4">7. Разрешение споров</h4>
    <p>7.1. Все споры и разногласия, возникающие между сторонами по настоящему договору или в связи с ним, подлежат
        разрешению путем переговоров.</p>
    <p>7.2. В случае невозможности разрешения споров путем переговоров, они подлежат рассмотрению в суде по месту
        нахождения Исполнителя в соответствии с законодательством Российской Федерации.</p>

    <h4 class="mt-4">8. Прочие условия</h4>
    <p>8.1. Настоящий договор вступает в силу с момента его акцепта Заказчиком и действует в течение неопределенного
        срока.</p>
    <p>8.2. Во всем, что не предусмотрено настоящим договором, стороны руководствуются действующим законодательством
        Российской Федерации.</p>
    <p>8.3. Исполнитель вправе передавать свои права и обязанности по настоящему договору третьим лицам без согласия
        Заказчика.</p>

    <h4 class="mt-4">8. Заключительные положения</h4>
    <p>8.1. Все вопросы, не урегулированные настоящим договором, разрешаются в соответствии с действующим
        законодательством Российской Федерации.</p>
    <p>8.2. Принимая условия настоящего договора, Заказчик дает свое согласие на обработку персональных данных в
        соответствии с политикой конфиденциальности Исполнителя.</p>

    <div class="footer">
        <p><strong>Реквизиты Исполнителя:</strong></p>
        <p>Сервис "DomVPN"<br>
            ИНН: 695004989740<br>
            Телефон: +79937581900<br>
            Email: dom-vpn@yandex.ru</p>
    </div>
</div>
