{% load static %}
<div id="telegram-login-link" class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="detail-box">
                                <h1>
                                    Dom VPN
                                </h1>
                                <h2 class="text-light">
                                    Ваш надежный проводник в мире безопасного интернета.
                                </h2>
                                <h5 class="text-light">
                                    Защитите свои данные и сохраняйте анонимность в сети с помощью Dom VPN.
                                </h5>
                                {% include 'home/components/telegram_login.html' %}
                                <a href="{% url 'login' %}" class="btn btn-info rounded-3 text-light mt-2 p-2"><i class="fa fa-envelope"></i> <b>Войти по Email</b></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="{% static 'images/slider-img.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
