{% load static %}
<div class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="detail-box">
                                <h1>
                                    Dom VPN
                                </h1>
                                <h2 class="text-light">
                                    Ваш надежный проводник в мире безопасного интернета.
                                </h2>
                                <h5 class="text-light">
                                    Защитите свои данные и сохраняйте анонимность в сети с помощью Dom VPN.
                                </h5>
                                <div class="mt-5">
                                    <script async src="https://telegram.org/js/telegram-widget.js?22"
                                            data-telegram-login="xDomvpn_Bot"
                                            data-size="large"
                                            data-radius="10"
                                            data-auth-url="https://domvpn.ru/auth/telegram-login/"
                                            data-request-access="write"
{#                                            data-onauth="onTelegramAuth(user)"#}
                                    >
                                    </script>
{#                                    <script type="text/javascript">#}
{#                                        function onTelegramAuth(user) {#}
{#                                            alert('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + ')');#}
{#                                        }#}
{#                                    </script>#}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="{% static 'images/slider-img.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
