[Unit]
Description=Таймер для перезапуска Celery Worker каждые 12 часов
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnCalendar=*-*-* 00,12:00:00
Persistent=true
Unit=celery_worker.service

[Install]
WantedBy=timers.target
