[Unit]
Description=Таймер для перезапуска Gunicorn каждые 12 часов
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnCalendar=*-*-* 00,12:00:00
Persistent=true
Unit=gunicorn.service

[Install]
WantedBy=timers.target
