{% extends "layouts/base.html" %}

{% block title %} Page 404 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
    <div class="container mt-5">
            <div class="card card-profile">
                <div class="card-body">
                    <h2 class="card-category text-gray">Error <strong>404</strong></h2>
                    <h4 class="card-title">
                        Такой страницы не существует
                    </h4>
                    <a href="/" class="btn btn-primary btn-round">Главная</a>
                </div>
        </div>
    </div>
    {% include 'home/sections/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
