<div class="mb-4">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex flex-column flex-lg-row align-items-left justify-content-between mb-4">
                <div class="d-flex align-items-left mb-2 mb-lg-0">
                    <i class="fa fa-key mr-3 fa-2x" style="color: #13056e"></i> <span>Текущий ключ</span>
                </div>
                {% if vpn_key.access_url %}
                    <small id="vpnkey"
                           class="d-none d-lg-block text-muted bg-success-subtle rounded p-2"
                           style="cursor: pointer;"
                           onclick="copyToClipboardKey('{{ vpn_key.access_url }}')">
                        {{ vpn_key.access_url|truncatechars:50 }} {{ vpn_key.server.country.name_for_app }}
                    </small>
                    <small id="vpnkey-sm"
                           class="d-sm-block d-md-none text-muted bg-success-subtle rounded p-2 text-center"
                           style="cursor: pointer;"
                           onclick="copyToClipboardKeySM('{{ vpn_key.access_url }}')">
                        Нажми, чтобы скопировать <br> {{ vpn_key.server.country.name_for_app }}
                    </small>
                {% else %}
                    <small class="text-muted">У вас нет VPN ключей.</small>
                {% endif %}
            </li>

            <li class="list-group-item d-flex flex-column flex-lg-row align-items-left justify-content-between">
                <span class="mb-2 mb-lg-0">
                    {% if vpn_key %}
                        <i class="fa fa-cogs mr-3 fa-2x" style="color: #13056e"></i> Выберите локацию и протокол
                    {% else %}
                        {{ vpn_key.protocol|upper }} {{ vpn_key.server.country.name_for_app }}
                    {% endif %}
                </span>
                {% if request.user.profile.telegram_user.subscription_status %}
                    {% if vpn_key.access_url %}
                        <button type="button" class="btn btn-outline-warning" data-toggle="modal"
                                data-target="#change_key">
                            <i class="fa fa-refresh"></i> Сменить
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-outline-info" data-toggle="modal"
                                data-target="#change_key">
                            <i class="fa fa-plus"></i> Создать
                        </button>
                    {% endif %}
                {% else %}
                    <button type="button" class="btn btn-outline-secondary" disabled>
                        <i class="fa fa-ban"></i> Подписка не активна
                    </button>
                {% endif %}

                <div class="modal fade" id="change_key" tabindex="-1" role="dialog"
                     aria-labelledby="change_keyLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="change_keyLabel">Настройка VPN-ключа</h5>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'get_new_key' %}">
                                    <div class="form-group">
                                        <label for="country">Страна:</label>
                                        <select class="form-control" id="country" name="country">
                                            {% for country in countries %}
                                                <option value="{{ country.name }}">{{ country.name_for_app }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="protocol">Протокол:</label>
                                        <select class="form-control" id="protocol" name="protocol">
                                            <option value="outline">Outline</option>
                                            <option value="vless">Vless</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Отмена
                                        </button>
                                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-group-item d-flex flex-column flex-lg-row align-items-left justify-content-between">
                <div class="mb-2 mb-lg-0">
                    <i class="fa fa-star mr-3 fa-2x" style="color: #13056e"></i>
                        <span>Премиум подписка:</span><br>
                    <small class="text-muted">Получите неограниченный доступ к нашим серверам</small>
                </div>
                <form class="d-flex flex-column align-items-left" action="{% url 'test_create_payment' %}" method="post">
                    {% csrf_token %}
                    <label for="subscription" class="mb-2">Выберите срок:</label>
                    <select class="form-control form-control-sm mb-2" id="subscription" name="subscription">
                        <option value="{{ subscription.price_5 }}">{{ subscription.price_5 }}₽ на 3 дня</option>
                        <option value="{{ subscription.price_1 }}">{{ subscription.price_1 }}₽ на 1 месяц</option>
                        <option value="{{ subscription.price_2 }}">{{ subscription.price_2 }}₽ на 3 месяца</option>
                        <option value="{{ subscription.price_3 }}">{{ subscription.price_3 }}₽ на 6 месяцев</option>
                        <option value="{{ subscription.price_4 }}">{{ subscription.price_4 }}₽ на 1 год</option>
                    </select>
                    <button type="submit" class="btn btn-success btn-sm">Купить подписку</button>
                </form>
            </li>
        </ul>
    </div>
</div>

<script>
    function copyToClipboardKey(text) {
        navigator.clipboard.writeText(text)
            .then(() => {
                document.getElementById('vpnkey').innerHTML = "Скопировано!";
                setTimeout(() => {
                    document.getElementById('vpnkey').innerHTML = "{{ vpn_key.access_url|truncatechars:50 }} {{ vpn_key.server.country.name_for_app }}";
                }, 2000);
            })
            .catch(err => {
                console.error('Ошибка при копировании: ', err);
                alert("Не удалось скопировать текст.");
            });
    }

    function copyToClipboardKeySM(text) {
        navigator.clipboard.writeText(text)
            .then(() => {
                document.getElementById('vpnkey-sm').innerHTML = "Скопировано!";
                setTimeout(() => {
                    document.getElementById('vpnkey-sm').innerHTML = "Нажми, чтобы скопировать {{ vpn_key.server.country.name_for_app }}";
                }, 2000);
            })
            .catch(err => {
                console.error('Ошибка при копировании: ', err);
                alert("Не удалось скопировать текст.");
            });
    }
</script>