{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Главная{% endblock title %}

{% block content %}
    <div class="hero_area">
        <div class="bg-dark">
            {% include 'home/sections/header.html' %}
        </div>

        <div class="m-5">
            <!-- Первый ряд -->
            {% include 'includes/messages_success.html' %}
            <div class="m-5 p-5 row bg-light rounded">
                {% include 'dashboard/includes/sidepanel.html' %}
                {% include 'dashboard/includes/main-info.html' %}
                {% include 'dashboard/includes/user-info.html' %}
            </div>

            <!-- Второй ряд -->
            <div class="m-5 p-5 row bg-light rounded">
                {% include 'dashboard/includes/servers.html' %}
                {% include 'dashboard/includes/referral.html' %}
                {% include 'dashboard/includes/bot-info.html' %}
            </div>
            
            <!-- Второй ряд -->
            <div class="m-5 p-5 row bg-light rounded">
                {% include 'dashboard/includes/transactions.html' %}
{#                {% include 'dashboard/includes/instructions.html' %}#}
            </div>
            
        </div>
    </div>

    {% include 'home/sections/info.html' %}
    {% include 'home/sections/footer.html' %}
{% endblock content %}

{% block extrascript %}
{% endblock extrascript %}


